@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: Inter;
}

body{
    padding: 20px;
}

body button{
    padding: 10px 10px;
    background-color: lightgreen;
    color: #000;
    border: solid 1px #000;
    border-radius: 10px;
    margin: 10px 0px;
}